body{
margin:0;
font-family:Arial;
background:linear-gradient(#ffd6e8,#9fd0f3,#2c8be0);
}

.top{
display:flex;
justify-content:space-between;
padding:20px;
background:#2fb6da;
border-bottom:5px solid #118cc5;
}

.brand{
display:flex;
align-items:center;
gap:20px;
}

.logo{
width:80px;
}

.brand h1{
margin:0;
font-size:40px;
}

.stats{
display:flex;
gap:10px;
}

.box{
border:4px solid #1e8fff;
padding:10px;
text-align:center;
width:120px;
background:white;
font-weight:bold;
}

.instructions{
background:#ffd400;
border:4px solid #1e8fff;
padding:10px;
text-align:center;
font-weight:bold;
}

#gameArea{
position:relative;
height:900px;
}

.buttons{
position:absolute;
left:20px;
top:120px;
display:flex;
flex-direction:column;
gap:10px;
}

button{
padding:10px;
font-weight:bold;
border:3px solid black;
}

.pipe{
position:absolute;
top:200px;
left:50%;
transform:translateX(-50%);
width:600px;
height:40px;
background:#555;
border-radius:10px;
}

.sun{
position:absolute;
right:100px;
top:200px;
width:100px;
height:100px;
background:yellow;
border-radius:50%;
}

.island{
position:absolute;
right:120px;
top:520px;
width:120px;
height:60px;
background:#e2cb74;
border-radius:50%;
}

.tree{
width:10px;
height:50px;
background:brown;
margin:auto;
}

.wave{
position:absolute;
width:100%;
border-top:4px solid white;
}

.w1{top:520px;}
.w2{top:560px;}
.w3{top:600px;}

#dropsContainer{
position:absolute;
width:100%;
height:100%;
}

.drop{
position:absolute;
width:40px;
height:50px;
}

.dropShape{
width:100%;
height:100%;
clip-path:polygon(50% 0%,75% 35%,90% 60%,75% 90%,50% 100%,25% 90%,10% 60%,25% 35%);
border:4px solid black;
}

.clean{
background:#168bff;
}

.dirty{
background:#37c95d;
}

.waterSystem{
position:absolute;
bottom:40px;
width:100%;
display:flex;
justify-content:center;
}

.drinkTank{
width:200px;
height:100px;
background:#2c8fe6;
border:3px solid #1b5f9c;
text-align:center;
}

.reservoirArea{
width:600px;
}

.fillFrame{
height:80px;
border:3px solid black;
background:#ccc;
position:relative;
}

#reservoirFill{
position:absolute;
bottom:0;
height:0%;
width:100%;
background:linear-gradient(#70cbff,#117cda);
}

#reservoir{
height:100px;
background:#218cf0;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
font-size:20px;
border:3px solid #1b5f9c;
border-top:none;
}
